/* Custom stylesheet for homepage */

/* all sections */
section {
	position: relative;
	width: 100%;
	display: block;
	max-width: none;
}

/* all images */
img {
   max-width: 100%;
   height: auto;
   display: inline-block;
}

/* all page dividers */
hr {
	height: 2px;
	width: 80%;
}

/* down arrow button */
span.glyphicon-menu-down {
    font-size: 3em;
}

/* used for contact */
.fullpage {
	height: 100vh;
}

/* used for nav bar transparency */
.transparent {
	background-color: rgba(255,255,255,0.6);
}

/* for titles about me, work, contac t*/
.title {
	display: block;
	font-family: 'Gravitas One';
	font-size: 4em;
	text-align: center;
	color: #02006F;
}

/* for homepage text */
.logo {
	display: none;
	font-family: 'Domine';
	text-align: center;
	border-radius: 1em;
    padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #02006F;
}

/* for contact spacing */
.pagecenter {
  	padding-top: 4em;
}

/* for images of projects */
.workimg {
	vertical-align: middle;
}

/* for the arrow button on homepage */
#arrowdown {
	position: absolute;
	top: 130%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#home {
	position: relative;
    overflow: hidden;
}

/* to change the transparency of background image */
#home:before {
	background-size: cover;
	background-image: url("../photos/background.jpg");
	content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
}

#about {
	display: block;
	padding: 4em 12% 4em 12%;
}

#about hr {
	color: #C4C4C4;
}

#summary {
	display: block;
	margin-top: 1.5em;
	font-family: 'Inconsolata';
	font-size: 1.55em;
	text-align: center;
	padding-right: 8%;
	padding-left: 8%;
}

#work {
	display: block;
	background-color: #C4C4C4;
	padding: 4em 12% 4em 12%;
	font-family: 'Inconsolata'
}

#work img {
	padding-bottom: 1em;
	height: 100%;
}

#work p {
	padding-bottom: 1em;
	color: #595959;
	text-align: left;
}

#work hr {
	border-color: "white";
}

#contact {
	display: block;
	padding: 4em 12% 4em 12%;
	text-align: center;
}

#contact img {
	padding-top: 1em;
	padding-bottom: .5em;
}

#contact a {
	color: black;
	font-family: "Inconsolata";
	font-size: 1.5em;
}

#contact hr {
	color: #C4C4C4;
}

#reachout {
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #02006F;
}

/* Float when mouse hovers over in contact me */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}